body,td  { font: 10pt Helvetica, Arial, sans-serif; color: #ddd; }
.GridCtrl{ width: 100%; height:100%; display: flex; flex-direction: column;  }
.GridCtrl *{  box-sizing: border-box; }
.GridCtrl .bodyouterDiv{ flex-grow: 1; overflow: auto }
.GridCtrl .bodyouterDiv .tbody{ position: relative; }
.GridCtrl .headouterDiv{ background:#444;display: block;}
.GridCtrl .headouterDiv .thead{ position: relative;}
.GridCtrl .thead .tr { height: 25px; }
.GridCtrl .tbody .tr { height: 20px; }
.GridCtrl .th { padding: 4px 2px; text-align: left; overflow: hidden; text-overflow: ellipsis; border-right: 1px solid #888; position: absolute; }
.GridCtrl .td { padding: 1px 2px; overflow: hidden; text-overflow: ellipsis; border-right: 1px solid #666; position: absolute; white-space: nowrap; }
.GridCtrl .tr:hover{ background-color:#333;}
.GridCtrl .tr:hover+.treeChildren{ background-color:#2a2a2a;}
.GridCtrl .treeRow.expanded>.tr>.td:first-child::before{ content:"▼ ";width:15px;display: inline-block;color:#aaa; }
.GridCtrl .treeRow.collapsed>.tr>.td:first-child::before{ content:"► ";width:15px;display: inline-block;color:#aaa; }
.GridCtrl .treeRow.expanded>.tr>.td:first-child:hover::before,
.GridCtrl .treeRow.collapsed>.tr>.td:first-child:hover::before{ color:#fff; }
.GridCtrl .treeRow.empty>.tr>.td:first-child::before{ content:"▱ ";width:15px;display: inline-block;color:#777; }

.messageBar { 
	position: fixed; top: 0; left: 0; right: 0; padding: 10px; background: #FDD835; color: white; font-size: 12pt; 
	display:none; z-index: 999;
}
.progressBar { 
	position: fixed; top: 0; left: 0; width: 30%; height: 5px; background: #0091EA;
	animation: slide 5s forwards;display:none;  z-index: 1000;
}
.visible {display:block;}
@keyframes slide {
	0% { width: 30%; }
	30% { width: 50%; }
	100% { width: 60%; }
}
.messageBar.error { background: #E53935;  }
.messageBar.success { background: #43a047;  }

.hexdump { white-space: pre-wrap; font: 10pt "Hack",monospace;color:#88ff88; overflow:auto; height:100%; width:100%; }


.raumsel
 { position: absolute; border: 1px solid #888; overflow-y: auto;  box-shadow: 1px 1px 6px #333; background: black; padding: 5px 0; min-width: 200px; z-index: 12; }
.raumsel div
  { padding: 6px 15px; cursor: default; }
.raumsel div:hover
  { background: #444; }
.raumsel div.disabled, .raumsel div.disabled:hover { color: #888; background: inherit; }

