
.md-header {
  background-image: linear-gradient(120deg, #e72c9c, #5a54f1);
}

.highlight .k, .highlight .nc { font-weight: bold; }
.highlight .na { color: #707050; }
.highlight .o { color: #555500; }
.highlight .nf { color: #ad7557; }