---
---

// Headers
$header-heading-color: #fff;
$header-bg-color: #5a54f1;
$header-bg-color-secondary: #e72c9c;

// Text
$section-headings-color: #991583;

@import "{{ site.theme }}";

h4 code {
  color: #991583 !important;
  font-weight: bold;
}
